---
title: Index
---
<!-- Wall alerts -->
    <!-- >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> -->
    <div class="row wallstatus">
      <div class="col-md-4 col-xs-4 column">
        <div class="alert alert-success text-center">
          <h4 class="text-center">East Wall</h4>
          Still no end of plaice even out of season
        </div>
      </div>
      <div class="col-md-4 col-xs-4 column">
        <div class="alert alert-default text-center">
          <h4 >Alert!</h4><p>TEMP RESTRICTIONS Work ongoing-upper level west wall</p></div>
      </div>
      <div class="col-md-4 col-xs-4 column">
        <div class="alert alert-danger text-center">
          <h4 class="text-center">West Wall</h4>
          Walls partially open, restrictions apply.
          <a href="#" class="alert-link text-center">alert link</a>
        </div>
      </div>
    </div>
    <!-- >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> -->
    <!-- >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> -->
    <!-- Hello and Picture -->
    <!-- >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> -->
    <div class="front row">
      <div class="visible-md-4 col-md-4 col-sm-4">
        <div class="jumbotron">
          <div class="thumbnail">
            <img class="img-responsive" src="images/IMG_0171 (Small).jpg"/>
          </div>
          <div class="thumbnail"
            <img class="img-responsive" src="images/IMG_0171 (Small).jpg"/>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-8 column">
        <div class="jumbotron">
          <div class="jumbotron-contents">
            <h1>The Tackle Box</h1>
            <h6>Sea Fishing Supplies From the Brighton Marina</h6>
            <p>Welcome to the Famous Tackle Box. We are located in Brighton Marina between the West Quay pub and the McDonalds. We supply fresh bait daily and carry a wide range of frozen baits that can be ordered in advance by phone.</p><p>Owned by Dave Grinham, the Tackle box has been in the Marina for over 25 years and stocks a vast range of fishing equipment.Rod and reel combos can be found on special deals, alongside more specialised angling equipment.</p>
            <ul class="list-group clearfix">
              <li class="col-md-4 col-sm-4 list-group-item list-group-item-primary"><span class="fa fa-anchor"></span>Bait</li>
              <li class="col-md-4 col-sm-4 list-group-item"><span class="fa fa-anchor"></span>Rods</li>
              <li class="col-md-4 col-sm-4 list-group-item list-group-item-primary"><span class="fa fa-anchor"></span>Reels</li>
              <li class="col-md-4 col-sm-4 list-group-item"><span class="fa fa-anchor"></span>Rod rests</li>
              <li class="col-md-4 col-sm-4 list-group-item list-group-item-primary"><span class="fa fa-anchor"></span>Clothing</li>
              <li class="col-md-4 col-sm-4 list-group-item"><span class="fa fa-anchor"></span>End tackle</li>
        <!--  <li class="col-md-4 list-group-item list-group-item-primary"><span class="glyphicon glyphicon-ok-circle"></span> Also -- Rod Repairs @.@</li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> -->
    <!-- End Intro -->
    <!-- >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> -->

    <!-- >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> -->
    <!-- Sales and Social -->
    <!-- >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> -->
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img style="width: 300px; height: 200px; " src="images/img041.jpg" alt="300x200" data-src="holder.js/300x200/new" class="img-rounded">
          <div class="caption text-center">
            <h3>Dave's Deals &amp; Reels</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id ...</p>
            <p><a role="button" class="btn btn-warning" href="#">Prices</a> <a role="button" class="btn btn-default" href="#">More..</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img style="width: 300px; height: 200px; " src="images/coat.jpg" alt="300x200" data-src="holder.js/300x200/new" class="img-rounded">
          <div class="caption text-center">
            <h3>Kit &amp; Clobber</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id ...</p>
            <p><a role="button" class="btn btn-warning" href="#">Prices</a><a role="button" class="btn btn-default" href="#">More..</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img style="width: 300px; height: 200px; " src="images/rig3.jpg" alt="300x200" data-src="holder.js/300x200/new" class="img-rounded">
          <div class="caption text-center">
            <h3>End Tackle</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id ...</p>
            <p><a role="button" class="btn btn-warning" href="#">Prices</a> <a role="button" class="btn btn-default" href="#">More..</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="list-group">
          <a href="#" class="list-group-item visitor">
            <h3 class="pull-right"><i class="fa fa-eye"></i></h3>
            <h4 class="list-group-item-heading count">1000</h4>
            <p class="list-group-item-text">Profile Views</p>
          </a>
          <a href="#" class="list-group-item facebook-like">
            <h3 class="pull-right"><i class="fa fa-facebook-square"></i></h3>
            <h4 class="list-group-item-heading count">1000</h4>
            <p class="list-group-item-text">Facebook Likes</p>
          </a>
          <a href="#" class="list-group-item google-plus">
            <h3 class="pull-right"><i class="fa fa-google-plus-square"></i></h3>
            <h4 class="list-group-item-heading count">1000</h4>
            <p class="list-group-item-text">Google+</p>
          </a>
          <a href="#" class="list-group-item twitter">
            <h3 class="pull-right"><i class="fa fa-twitter-square"></i></h3>
            <h4 class="list-group-item-heading count">1000</h4>
            <p class="list-group-item-text">Twitter Followers</p>
          </a>
        </div>
        <div class="list-group">
          <a href="#" class="list-group-item active">Latest Tweets</a>
          <div class="list-group-item">
            <span class="badge">date</span>Help
          </div><a class="list-group-item active"><span class="badge">14</span>Help</a>
        </div>
      </div>
    </div>
        <!-- >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> -->
    <!-- Footer -->
    <!-- >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> >=:> -->
    <div class="row">
      <div class="col-md-12">
        <div class="footer">
          <div class="">
            <div class="clearfix">
              <div class="footer-logo"><a href="#"><img src="images/tacklerod.png" />The Tackle Box</a></div>
              <dl class="footer-nav">
                <dt class="nav-title">SHOP</dt>
                <dd class="nav-item"><a href="#">Deals 'n Reels</a></dd>
                <dd class="nav-item"><a href="#">Kit &amp; Clobber</a></dd>
                <dd class="nav-item"><a href="#">Tackle</a></dd>
                <dd class="divider"></dd>
                <dd class="nav-item"><a href="#">Charter Fleet</a></dd>
              </dl>
              <dl class="footer-nav">
                <dt class="nav-title">INFO</dt>
                <dd class="nav-item"><a href="#">About Us</a></dd>
                <dd class="nav-item"><a href="#">The Breakwaters</a></dd>
                <dd class="nav-item"><a href="#">Size Regs</a></dd>
                <dd class="nav-item"><a href="#">Events</a></dd>
              </dl>
              <dl class="footer-nav">
                <dt class="nav-title">BLOG</dt>
                <dd class="nav-item"><a href="#">2014</a></dd>
                <dd class="nav-item"><a href="#">2013</a></dd>
                <dd class="nav-item"><a href="#">2012</a></dd>
              </dl>
              <dl class="footer-nav">
                <dt class="nav-title">GALLERY</dt>
                <dd class="nav-item"><a href="#">Gallery 2013-2014</a></dd>
                <dd class="nav-item"><a href="#">Events</a></dd>
                <dd class="nav-item"><a href="#">2012</a></dd>
                <dd class="nav-item"><a href="#">Gallery 1</a></dd>
                <dd class="nav-item"><a href="#">Gallery 2</a></dd>
                <dd class="nav-item"><a href="#">Archive</a></dd>
              </dl>
            </div>
            <div class="footer-copyright text-center">Copyright &copy; Mu Designs 2014.All rights reserved.</div>
          </div>
        </div>
      </div>
    </div>
